.product {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: white;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  margin: 10px;
  max-height: 300px;
  width: 100%;
}

.product__rating {
  display: flex;
}
.product__info {
  height: 50px;
  margin-bottom: 15px;
  /* width: 100%; */
}
.product__price {
  margin-top: 5px;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
